body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

#app{
    display: grid;
    grid-template-areas: 
        'controls sketch';
}

#sketch{
    grid-area: sketch;
}

canvas{
    display: block;
}

#controls{
    grid-area: controls;
    background-color: black;
    width: 300px;
}

.btn{
    font-size: 23px;
    background-color: grey;
    color: beige;
    height: 40px;
    width: 80px; 
    border-radius: 5px;
    border: 0;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    cursor: pointer;
    background: rgb(49, 49, 49);
}

.main-inputs{
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-input{
    font-family: 'Roboto Mono', monospace;
    background-color: beige;
    font-size: 23px;
    height: 50px;
    width: 190px;
    padding-left: 8px;
    margin-right: 1em;
    color: transparent;
    text-shadow: 0 0 0 black;
    margin-bottom: 1em;
    border: none;
    border-radius: 3px;
}

.main-input:focus{
    outline: none;
    background: beige;
}

.main-label{
    font-size: 23px;
    height: 50px;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
    color: gray;
}

#start-stop-buttons{
    display: flex;
    justify-content: space-evenly;
}

.collapsible{
    margin-top: 0;
    padding-bottom: 0;
    background-color: black;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 0;
    transition: ease-in-out;
}

/* .collapsible:hover{
    
} */

.collapsible:focus{
    outline: none;
}

.more-settings{
    color: aliceblue;
    overflow: hidden;
    display: grid;
    width: 300px;
    grid-template-columns: 95px 95px 95px;
    grid-template-rows: 50px 50px 50px 50px;
    row-gap: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    line-height: 10px;
}

.sub-label{
    align-items: center;
    font-size: 10px;
}

.sub-input{
    width: 100px;
    color: transparent;
    text-shadow: 0 0 0 black;
    background: beige;
    border: solid 1px black;
}

.sub-input:focus{
    outline: none;
}








