body{
    margin:0;
    padding:0;
}

#app{
    display: grid;
    grid-template-areas: 
        'controls sketch';
}

#sketch{
    grid-area: sketch;
}

canvas{
    display: block;
}

#controls{
    grid-area: controls;
    background-color: aqua;
    width: 300px;
}







